.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}

.header-controls {
    display: flex;
    gap: 10px;
    
}

.main-header h1 {
    text-align: center;
    width: 100%;
    font-size: 2.5rem; 
}

.main-header h1 .vr {
    color: #f800ff;
}

.main-header h1 .real {
    color: #00ff00;
}
