:root {
    --primary-color: #800080;
    --secondary-color: #2c3e50;
    --background-light: #dee3f8;
    --background-dark: #1a1a1a;
    --text-light: #2c3e50;
    --text-dark: #ecf0f1;
    --border-light: #dcdde1;
    --border-dark: #40739e;
    --success-color: #28a745;
}

        