:root {
    --primary-color: #e46b25;
    --secondary-color: #2c3e50;
    --background-light: #f5f6fa;
    --background-dark: #1a1a1a;
    --text-light: #2c3e50;
    --text-dark: #ecf0f1;
    --border-light: #dcdde1;
    --border-dark: #40739e;
}

        