body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.header-container {
    display: flex;
    justify-content: center; /* Центрирование заголовка по горизонтали */
    margin: 20px 0;
    color: white;
}

.booking-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выровнять кнопки по левому краю */
    margin-left: 20px; /* Отступ от левого края */
    
}

.booking-row {
    display: flex;
    gap: 10px; /* Расстояние между кнопками в верхнем ряду */
    margin-bottom: 10px; /* Отступ снизу для разделения строк */
}

.booking-button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #099d0e;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: border-color 0.3s;
    white-space: nowrap;
    width: 200px; /* Ширина кнопки */
}

.booking-button.selected {
    background-color: #0026ff;
}

.booking-button:hover {
    border-color: #0026ff;
    border-width: 2px; /* Ширина границы при наведении */
}

.booking-button .line {
    border-bottom: 3px solid #fff;
    width: 100%;
    margin: 5px 0;
}

.booking-button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #d3d3d3; /* Серый цвет для неактивной кнопки */
}

.player-input {
    width: 180px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.booking-button.disabled .player-input {
    background-color: #e0e0e0; /* Светло-серый фон для неактивного текстового поля */
    border: 1px solid #ccc; /* Обычная граница для неактивного поля */
    cursor: not-allowed; /* Указываем, что поле неактивно */
}

.booking-button .seats {
    margin: 5px 0;
}
