.form-container {
  display: flex;             /* Используем flex для позиционирования */
  flex-direction: column;     /* Располагаем элементы в колонку */
  align-items: center;        /* Выравниваем элементы по центру по горизонтали */
  justify-content: center;    /* Выравниваем элементы по центру по вертикали */
  text-align: center;         /* Текст в элементах выравнивается по центру */
  width: 100%;                /* Контейнер занимает 100% ширины */
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -16px;
  margin: 8px
}
  

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left, .nav-right {
  text-decoration: none;
  font-size: 24px;
  color: #00dd16;
}