/* Базовые стили */
html {
  font-size: 16px;
}

/* Медиазапросы для разных экранов и ориентаций */
@media (max-width: 1200px) { 
  .booking-button { width: 100%; height: 100%; } 
  .checkbox-text, .custom-popup { font-size: 18px; } 
  input, textarea[name="comment"], .submit-button, .notification, .agreement-table { width: 70%; } 
}
@media (max-width: 960px) { 
  .booking-button { width: 100%; height: 100%; }
  .checkbox-text, .custom-popup { font-size: 18px; }
  input, textarea[name="comment"], .submit-button, .notification, .agreement-table { width: 70%; }
}
@media (max-width: 768px) { 
  .booking-button { width: 100%; height: 100%; } 
  input, textarea[name="comment"], .submit-button, .notification, .agreement-table { width: 70%; } 
  h1 { font-size: 40px; } 
  h2, h3 { font-size: 28px; } 
}
@media (max-width: 700px) { 
  .links-container { flex-wrap: wrap; }
  .links { flex: 1 1 48%; margin: 10px; }
}
@media (max-width: 576px) { 
  .booking-button { width: 100%; height: auto; } 
  input, textarea[name="comment"], .submit-button, .notification, .agreement-table { width: 70%; } 
  .checkbox-text, .custom-popup { font-size: 17px; } 
  h1 { font-size: 36px; } 
  h2, h3 { font-size: 24px; }
}
@media (max-width: 480px) { 
  .booking-button { width: 100%; height: auto; } 
  input, textarea[name="comment"], .submit-button, .notification, .agreement-table { width: 70%; } 
  .checkbox-text, .custom-popup { font-size: 14px; } 
  h1 { font-size: 32px; } 
  h2, h3 { font-size: 20px; } 
}
@media (max-width: 375px) { 
  .booking-button { width: 100%; height: auto; } 
  input, textarea[name="comment"], .submit-button, .notification, .agreement-table { width: 70%; } 
  .checkbox-text, .custom-popup { font-size: 13px; } 
  h1 { font-size: 30px; } 
  h2, h3 { font-size: 18px; } 
}
@media (max-width: 320px) { 
  .booking-button { width: 100%; height: auto; } 
  input, textarea[name="comment"], .submit-button, .notification, .agreement-table { width: 70%; } 
  .checkbox-text, .custom-popup { font-size: 10px; } 
  h1 { font-size: 28px; } 
  h2, h3 { font-size: 16px; }
}
